interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://archive.org/metadata/Iao5b1Z5uAptyk1WNz76BvyarGgwgV
  response:
    body:
      string: '{"alternate_locations":{"servers":[{"server":"dn721605.ca.archive.org","dir":"/0/items/Iao5b1Z5uAptyk1WNz76BvyarGgwgV"}],"workable":[{"server":"dn721605.ca.archive.org","dir":"/0/items/Iao5b1Z5uAptyk1WNz76BvyarGgwgV"}]},"created":1788258983,"d1":"dn800302.us.archive.org","dir":"/0/items/Iao5b1Z5uAptyk1WNz76BvyarGgwgV","files":[{"name":"Iao5b1Z5uAptyk1WNz76BvyarGgwgV.thumbs\/tmpf1l7w106_000001.jpg","source":"derivative","format":"Thumbnail","original":"tmpf1l7w106.mov","mtime":"1709154396","size":"17401","md5":"fa342a03f9c87a39b781d98f62e23a1f","crc32":"b2fd3119","sha1":"3b4c8968bbd2e3e0e1edecb3db1fc05c48a4d1af"},{"name":"Iao5b1Z5uAptyk1WNz76BvyarGgwgV.thumbs\/tmpf1l7w106_000115.jpg","source":"derivative","format":"Thumbnail","original":"tmpf1l7w106.mov","mtime":"1709154402","size":"22342","md5":"5f94ebda692d915683cf885d25b38754","crc32":"c011c162","sha1":"16ffd6b469c8fbd33dd2c8408cbb149673997f0a"},{"name":"Iao5b1Z5uAptyk1WNz76BvyarGgwgV.thumbs\/tmpf1l7w106_000181.jpg","source":"derivative","format":"Thumbnail","original":"tmpf1l7w106.mov","mtime":"1709154409",[...]
