interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://archive.org/advancedsearch.php?q=aerial+coastline&fl%5B%5D=identifier&fl%5B%5D=title&fl%5B%5D=description&fl%5B%5D=licenseurl&fl%5B%5D=mediatype&rows=3&output=json
  response:
    body:
      string: '{"responseHeader":{"status":0,"QTime":105,"params":{"query":"((text:aerial
        OR text:aerial OR text__reviews:aerial)(text:coastline OR text:coastline OR
        text__reviews:coastline)) OR (text:&quot;aerial coastline&quot; OR text:&quot;aerial
        coastline&quot; OR text__reviews:&quot;aerial coastline&quot;)","qin":"aerial
        coastline","fields":"identifier,title,description,licenseurl,mediatype","wt":"json","rows":3,"start":0}},"response":{"numFound":252,"start":0,"docs":[{"description":"Men
        With Green Faces (MN 10585) is a Vietnam-era U.S. Navy documentary from 1969
        that explains the intense mental and physical challenges endured by those
        who want to become elite Navy SEALs. In addition to demonstrating the functions
        of the Navy''s frogmen commandos, the film reflects the excitement of parachute
        jump training to the quite of jungle patrols. The film opens with Navy SEALs
        (of what appears to Underwater Demolition Team II) paddling[...]
