interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://images-api.nasa.gov/search?q=earth+orbit&media_type=video&page_size=3
  response:
    body:
      string: "{\"collection\":{\"version\":\"1.1\",\"href\":\"http://images-api.nasa.gov/search?q=earth+orbit&media_type=video&page_size=3\",\"items\":[{\"href\":\"https://images-assets.nasa.gov/video/Envisioning
        the Next Generation of Human Presence in Low Earth Orbit/collection.json\",\"data\":[{\"center\":\"HQ\",\"date_created\":\"2024-08-26T00:00:00Z\",\"description\":\"NASA\u2019s
        human spaceflight missions have steadily built on each other, leading us to
        a continuous human presence in low Earth orbit for 23 years. Now, as we stand
        on the cusp of a new era of human spaceflight, NASA is calling for feedback
        on what the agency\u2019s goals and objectives should be for the low Earth
        orbit microgravity environment. The agency will utilize future commercial
        space stations to advance microgravity science, technology, and exploration.\",\"keywords\":[\"NASA\",\"Low
        Earth Orbit\",\"LEO Microgravity Strategy\"],\"media_type\":\"video\",\"nasa_id\":\"Envisioning
        the Next Generation of Human Presence in Low Earth Orbit\",\"title\":\"Envisioning
        the Next Generation of Human Presence in Low Earth Orbit\"}],\"links\":[{\"href\":\"https://images-assets.nasa.gov/video/Envisioning
        the Next Generation of Human Presence in Low Earth Orbit/Envisioning the Next
        Generation of Human Presence in Low Earth Orbit~large.jpg\",\"rel\":\"alternate\",\"render\":\"image\",\"width\":800,\"size\":25000,\"height\":450},{\"href\":\"https://images-assets.nasa.gov/video/Envisioning
        the Next Generation of Human Presence in Low Earth Orbit/Envisioning the Next
        Generation of Human Presence in Low Earth Orbit~medium.jpg\",\"rel\":\"alternate\",\"render\":\"image\",\"width\":400,\"size\":8900,\"height\":225},{\"href\":\"https://images-assets.nasa.gov/video/Envisioning
        the Next Generation of Human Presence in Low Earth Orbit/Envisioning the Next
        Generation of Human Presence in Low Earth Orbit~small.jpg\",\"rel\":\"alternate\",\"render\":\"image\",\"width\":200,\"size\":3400,\"height\":112},{\"href\":\"https://images-assets.nasa.gov/video/Envisioning
        the Next Generation of Human Presence in Low Earth Orbit/Envisioning the Next
        Generation of Human Presence in Low Earth Orbit~thumb.jpg\",\"rel\":\"preview\",\"render\":\"image\",\"width\":300,\"size\":6300,\"height\":168},{\"href\":\"https://images-assets.nasa.gov/video/Envisioning
        the Next Generation of Human Presence in Low Earth Orbit/Envisioning the Next
        Generation of Human Presence in Low Earth Orbit.srt\",\"rel\":\"captions\"}]},{\"href\":\"https://images-assets.nasa.gov/video/GSFC_20150420_Orbit_m11858_2014/collection.json\",\"data\":[{\"album\":[\"Earth\"],\"center\":\"GSFC\",\"date_created\":\"2015-04-20T00:00:00Z\",\"description\":\"Every
        day of every year, NASA satellites provide useful data about our home planet,
        and along the way, some beautiful images as well. This video includes satellite
        images of Earth in 2014 from NASA and its partners as well as photos and a
        time lapse video from the International Space Station. We\u2019ve also included
        a range of data visualizations, model runs, and a conceptual animation that
        were produced in 2014 (but in some cases might have been utilizing data from
        earlier years.) Below is a full list of the images included.\",\"description_508\":\"Earth
        from Orbit 2014.\",\"location\":\"Goddard Space Flight Center\",\"media_type\":\"video\",\"nasa_id\":\"GSFC_20150420_Orbit_m11858_2014\",\"secondary_creator\":\"Jefferson
        Beck, Eric Sokolowsky\",\"title\":\"Earth from Orbit 2014\"}],\"links\":[{\"href\":\"https://images-assets.nasa.gov/video/GSFC_20150420_Orbit_m11858_2014/GSFC_20150420_Orbit_m11858_2014~large.jpg\",\"rel\":\"alternate\",\"render\":\"image\",\"width\":800,\"size\":40000,\"height\":450},{\"href\":\"https://images-assets.nasa.gov/video/GSFC_20150420_Orbit_m11858_2014/GSFC_20150420_Orbit_m11858_2014~medium.jpg\",\"rel\":\"alternate\",\"render\":\"image\",\"width\":400,\"size\":10[...]
