interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.pexels.com/videos/search?query=aerial+coastline&per_page=3
  response:
    body:
      string: "{\"page\":1,\"per_page\":3,\"videos\":[{\"id\":36654153,\"width\":2160,\"height\":3840,\"duration\":26,\"full_res\":null,\"tags\":[],\"url\":\"https://www.pexels.com/video/aerial-view-of-rugged-coastline-and-crashing-waves-36654153/\",\"image\":\"https://images.pexels.com/videos/36654153/4k-dji-36654153.jpeg?auto=compress\\u0026cs=tinysrgb\\u0026fit=crop\\u0026h=1200\\u0026w=630\",\"avg_color\":null,\"user\":{\"id\":2159421235,\"name\":\"Mike
        Art \U0001F3A5 Visual Creator | Photography and Video \U0001F4F8\",\"url\":\"https://www.pexels.com/@mike-art-visual-creator-photography-and-video-2159421235\"},\"video_files\":[{\"id\":15539411,\"quality\":null,\"file_type\":\"video/mp4\",\"width\":360,\"height\":640,\"fps\":59.94,\"link\":\"https://videos.pexels.com/video-files/36654153/15539411_360_640_60fps.mp4\",\"size\":6376836},{\"id\":15539412,\"quality\":null,\"file_type\":\"video/mp4\",\"width\":540,\"height\":960,\"fps\":59.94,\"link\":\"https://videos.pexels.com/video-files/36654153/15539412_540_960_60fps.mp4\",\"size\":14635652},{\"id\":15539413,\"quality\":null,\"file_type\":\"video/mp4\",\"width\":720,\"height\":1280,\"fps\":59.94,\"link\":\"https://videos.pexels.com/video-files/36654153/15539413_720_1280_60fps.mp4\",\"size\":24506902},{\"id\":15539414,\"quality\":null,\"file_type\":\"video/mp4\",\"width\":1080,\"height\":1920,\"fps\":59.94,\"link\":\"https://videos.pexels.com/video-files/36654153/15539414_1080_1920_60fps.mp4\",\"size\":49456249},{\"id\":15539415,\"quality\":null,\"file_type\":\"video/mp4\",\"width\":1440,\"height\":2560,\"fps\":59.94,\"link\":\"https://videos.pexels.com/video-files/36654153/15539415_1440_2560_60fps.mp4\",\"size\":77895391},{\"id\":15539416,\"quality\":null,\"file_type\":\"video/mp4\",\"width\":2160,\"height\":3840,\"fps\":59.94,\"link\":\"https://videos.pexels.com/video-files/36654153/15539416_2160_3840_60fps.mp4\",\"size\":148954427}],\"video_pictures\":[{\"id\":31178989,\"nr\":0,\"picture\":\"https://images.pexels.com/videos/36654153/pictures/preview-0.jpg\"},{\"id\":31178990,\"nr\":1,\"picture\":\"https://images.pexels.com/videos/36654153/pictures/preview-1.jpg\"},{\"id\":31178991,\"nr\":2,\"picture\":\"https://images.pexels.com/videos/36654153/pictures/preview-2.jpg\"},{\"id\":31178992,\"nr\":3,\"picture\":\"https://images.pexels.com/videos/36654153/pictures/preview-3.jpg\"},{\"id\":31178993,\"nr\":4,\"picture\":\"https://images.pexels.com/videos/36654153/pictures/preview-4.jpg\"[...]
