interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pixabay.com/api/videos/?per_page=3&q=aerial
  response:
    body:
      string: '{"total":4502,"totalHits":500,"hits":[{"id":216058,"pageURL":"https://pixabay.com/videos/id-216058/","type":"film","tags":"drone,
        drones, drone images, nature, forest, river, landscape, drone footage, aerial
        view, aerial image, amazon, aerial images, cloud, sky","duration":33,"videos":{"large":{"url":"https://cdn.pixabay.com/video/2024/06/10/216058_large.mp4","width":3840,"height":2160,"size":138460882,"thumbnail":"https://cdn.pixabay.com/video/2024/06/10/216058_large.jpg"},"medium":{"url":"https://cdn.pixabay.com/video/2024/06/10/216058_medium.mp4","width":2560,"height":1440,"size":57360840,"thumbnail":"https://cdn.pixabay.com/video/2024/06/10/216058_medium.jpg"},"small":{"url":"https://cdn.pixabay.com/video/2024/06/10/216058_small.mp4","width":1920,"height":1080,"size":31829403,"thumbnail":"https://cdn.pixabay.com/video/2024/06/10/216058_small.jpg"},"tiny":{"url":"https://cdn.pixabay.com/video/2024/06/10/216058_tiny.mp4","width":1280,"height":720,"size":7771073,"thumbnail":"https://cdn.pixabay.com/video/2024/06/10/216058_tiny.jpg"}},"views":227877,"downloads":85732,"likes":1066,"comments":124,"user_id":29856243,"user":"Drone_Aventura","userImageURL":"https://cdn.pixabay.com/user/2025/04/02/23-23-21-238_250x250.jpg","noAiTraining":false,"isAiGenerated":false,"isGRated":true,"isLowQuality":false,"userURL":"https://pixabay.com/users/29856243/","name":"drone,
        drones, drone images"},{"id":7328,"pageURL":"https://pixabay.com/videos/id-7328/","type":"film","tags":"snowy
        trees, above, winter, landscape, forest, aerial, snow, revealing, nature,
        sunset, cold, natural, trees, environment, frost, sky, weather, white, scene,
        scenic, wilderness, outdoors, snowfall, aerial view","duration":28,"videos":{"large":{"url":"https://cdn.pixabay.com/video/2017/01/13/7328-199383367_large.mp4","width":1920,"height":1080,"size":1644[...]
